.media-streams{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.callbtns{
    display: flex;
    flex-direction: row;
    gap:2rem;
    position: absolute;
    top:70%;
    left:50%;
    transform: translate(-50%,-50%);
}
.call-icon{
    border:1px solid;
    shape-outside: margin-box;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-color: black;
    border-radius: 50%;
}  