.media-streams {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
}

.btn1 {
    background-color: red;
    color: white;
    border: none;
    border-radius: 50%;
    /* This makes it round */
    
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.2s, background-color 0.3s;
}

.btn2 {
    background-color: green;
    color: white;
    border: none;
    border-radius: 50%;
    /* This makes it round */
    
    
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.2s, background-color 0.3s;
}

.callpick {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position:absolute;
    left:50%;
    top:50%;
}